		html{
			scroll-behavior: smooth;
		}

		body{
			background-color: black;
		
			color: green;
			
		}
		h1,h2,h3{
			color: white;
			text-shadow: 2px 2px 2px lime;
		}

		
		
		.astros{
			width: 300px; height: 300px;
			border-radius: 50%;
			borde 5px white solid;
			display: block;
			margin: 0 auto;
			box-shadow: 0 0 15px lime;
		}

		.btn{
			border-radius: 5px;
			text-decoration: none;
			text-align: center;
			color: black;
			background-color: lightgray;
			width: 50px;
			display: block;
			margin: 0 auto;
			padding: 10px;
		}

		.btn:hover{
			box-shadow: 0 0 5px yellow;
		}

		/**/

		ul{
			position: sticky;
			top: 0;
			list-style-type: none;
			margin: 0; 
			padding: 0;
			overflow: hidden;
			background-color: dodgerblue;
		}

		li{
			float:left;
		}

		li a{
			display: block;
			color: white;
			font-size: 22px;
			background-color: deepSkyBlue;
			padding: 14px 16px;
			text-align: center;
			text-decoration: none;
		}

		.ativo{
			background-color:cornflowerblue;
			border: 1px solid white;
		}

		table{
			border-collapse: collapse;
			background-color: white; 
		}

		td{
			border-collapse: collapse;
			border: 2px solid black;
			color: black;
			text-align: center;
		}

		#tituloTabela{
			color: black;
			text-align: center;
			font-size: 30px;
		}

		#rodapeTabela{
			color: black;
			text-align: center;
		}

		.mercurio{
			background-color: brown;
		}

		.venus{
			background-color: yellow;
		}

		.terra{
			background-color: blue;
		}

		.marte{
			background-color: red;
		}

		.jupter{
			background-color: orange;
		}

		.saturno{
			background-color: #DF7401;
		}

		.urano{
			background-color: #2ECCFA;
		}

		.nepturno{
			background-color: #045FB4;
		}

		button{
			display: block;
			margin-left: 90px;
		}

		form{
			border: 2px solid blue;
			width:270px;

		}



		
